 # H8 Data Science Python 1st Section

Integer

In [1]:
print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

In [2]:
# Python interprets a sequence of decimal digits without any prefix to be a decimal number:

print(10)
print(type(10))

10
<class 'int'>

In [3]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

String

In [4]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [5]:
print('')

In [6]:
print("This string contains a single quote (') character.")

print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

Bolean

In [7]:
print(type(True))

print(type(False))

<class 'bool'>
<class 'bool'>

In [8]:
n = 300

In [9]:
print(n)

300

In [10]:
n

300

In [11]:

# Later, if you change the value of n and use it again, the new value will be substituted instead:

n = 1000
print(n)

n

1000

1000

In [12]:
a = b = c = 300
print(a, b, c)

300 300 300

Variable type data

In [13]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

In [14]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

In [15]:

9_kepala_naga = True

SyntaxError: ignored

In [16]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

In [17]:
a = 10
b = 20
a + b

30

In [18]:
a = 10
b = 20
a + b - 5

25

Arithmetic

In [19]:

# Here are some examples of these operators in use:

a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [20]:

# The result of standard division (/) is always a float, even if the dividend is evenly divisible by the divisor:

10 / 5

2.0

In [21]:
# Here are examples of the comparison operators in use:

a = 10
b = 20
print(a == b)

print(a != b)

print(a <= b)

print(a >= b)


a = 30
b = 30
print(a == b)

print(a <= b)

print(a >= b)

False
True
True
False
True
True
True

String Manipulation

In [22]:

# + Operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

print(s + t + u)


print('Hacktiv8 ' + 'PTP')

foobar
foobarbaz
Hacktiv8 PTP

In [23]:

# * Operators

s = 'foo.'

s * 4

'foo.foo.foo.foo.'

In [24]:

# in Operators

s = 'foo'

print(s in 'That food for us')

print(s in 'That good for us')

True
False

In [25]:

# Case Conversion
s = 'HackTIV8'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

Python List

In [26]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

['foo', 'bar', 'baz', 'qux']

In [27]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

In [28]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

In [29]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [30]:
print(a[-1])
print(a[-6])

corge
foo

In [31]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2:5]

['baz', 'qux', 'quux']

In [32]:

# The concatenation (+) and replication (*) operators:

print(a)

print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [33]:
# len(), min(), max()

print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

In [34]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [35]:


# A list item can be deleted with the del command:

del a[3]

In [36]:
print(a)

['foo', 'bar', 10, 'quux', 20]

In [37]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

In [38]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [39]:
print(t[0])

print(t[-1])

foo
corge

In [40]:

# packing and unpacking

(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

s1

'foo'

In [41]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

In [42]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

# error
# MLB_team['Toronto']

Twins
Rockies

In [43]:

#Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Boston': 'Red Sox',
 'Colorado': 'Rockies',
 'Kansas City': 'Royals',
 'Milwaukee': 'Brewers',
 'Minnesota': 'Twins',
 'Seattle': 'Mariners'}

In [44]:

# If you want to update an entry, you can just assign a new value to an existing key:

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Boston': 'Red Sox',
 'Colorado': 'Rockies',
 'Kansas City': 'Royals',
 'Milwaukee': 'Brewers',
 'Minnesota': 'Twins',
 'Seattle': 'Seahawks'}

In [45]:

# To delete an entry, use the del statement, specifying the key to delete:

del MLB_team['Seattle']
MLB_team

{'Boston': 'Red Sox',
 'Colorado': 'Rockies',
 'Kansas City': 'Royals',
 'Milwaukee': 'Brewers',
 'Minnesota': 'Twins'}

In [46]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [47]:
person

{'age': 51,
 'children': ['Ralph', 'Betty', 'Joey'],
 'fname': 'Hack',
 'lname': 'PTP',
 'pets': {'cat': 'Sox', 'dog': 'Fido'},
 'spouse': 'Edna'}